/* 定义全局的css变量 */
:root {
    --bg_color: rgb(30,30,30);
    --card_color: rgb(34,34,34);
    --border_color: rgb(255, 255, 255);
    --shadow_color: rgb(0,0,0);
    --text_color: rgb(240, 240, 240);
    --nav_color: rgb(34, 34, 34, 0.95);
    --pink_color: #e677a3;
}